html {
 margin: 0;
 padding: 0;
 }

body {
  margin: 0 50px;
  padding: 0;
}

.container {
 display: flex;
 flex-direction: row;
}

.navbar-brand {
  display: inline-block;
}

.navbar-content {
  display: row;
  justify-content: flex-end;

}

#navbar-ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

.navbar-li {
  float: left;
  margin: 0 15px;
}
