html {
 margin: 0;
 padding: 0;
 }

body {
  margin: 0 50px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.container .navbar-brand {
    justify-content: flex-start;
}

.navbar-content {
  justify-content: flex-end;
}

#navbar-ul {
  list-style:none;
}

.navbar-li {
  float: left;
  margin: 0 15px;
  height: 80px;
  line-height: 80px;
}

a.navigation{
  text-decoration: none;
  color: black;
}

a.navigation:focus {
  color: #0065FC;
}

li.navbar-li:focus {
  border-top: solid 3px #0065FC
}


#signup {
  font-weight: 600;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

.searchbar {
  display: flex;
  justify-content: center;
}

.container-searchbar {
  padding: 3rem;
  width: 400px;
}

input[type="search"]{
  
}

.map-marker {

}

.find{

}
